4.[[:space:]]SEMESTER[[:space:]]5_Fall[[:space:]]2023/** filter=lfs diff=lfs merge=lfs -text
5.[[:space:]]SEMESTER[[:space:]]6_Spring[[:space:]]2024/** filter=lfs diff=lfs merge=lfs -text
6.[[:space:]]SEMESTER[[:space:]]7_Fall[[:space:]]2024/** filter=lfs diff=lfs merge=lfs -text
7.[[:space:]]SEMESTER[[:space:]]8_Spring[[:space:]]2025/** filter=lfs diff=lfs merge=lfs -text
